@font-face {
	font-family: 'MiSans-Regular';
	src: url('@/assets/fonts/MiSans-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'JetBrainsMono-Regular';
	src: url('@/assets/fonts/JetBrainsMono-Regular.woff2') format('woff2');
}
