@font-face {
	font-family: 'JetBrainsMono-Regular';
	src: url('@/assets/fonts/JetBrainsMono-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'HarmonyOS_Sans_Regular';
	src: url('@/assets/fonts/HarmonyOS_Sans_Regular.woff2') format('woff2');
}
