@use 'reset.scss';
@use 'var.scss';
@use 'common.scss';
@use 'component.scss';
@use 'font.scss';

:root,
:root[color-scheme='light'] {
	font-feature-settings: 'ss01' !important;

	body {
		margin: 0;
		overflow: hidden;
		user-select: none;
	}
}
