.main {
	--primary-color-light: rgb(from var(--primary-color) r g b / 0.16);
	--success-color-light: rgb(from var(--success-color) r g b / 0.16);
	--info-color-light: rgb(from var(--info-color) r g b / 0.16);
	--warning-color-light: rgb(from var(--warning-color) r g b / 0.16);
	--error-color-light: rgb(from var(--error-color) r g b / 0.16);
}
